.hv-list {
  & {
    position: relative;
    transition: box-shadow .1s ease-in-out;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 30px;
  }
  .image {
    border-radius: 50%;
  }
  .info {
    padding-left: 15px;
  }
  .name {
    color: #222;
    font-size: 24px;
    line-height: 1.4;
  }
  .cards {
    padding: 30px 30px;
  }
  .footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px 30px;
  }
}
