<div class="hv-list">
  <div class="header">
    <img class="image" width="40" height="40" src="https://unsplash.it/40/40/?random">
    <div class="info">
      <h3 class="name">Title</h3>
      <div class="metaTitle">
        <time datetime="2016-04-01T19:00">April 01, 2016</time>
      </div>
    </div>
  </div>
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="footer">
    <a href="#" class="hv-btn hv-btn-text">Add Task</a>
  </div>
</div>
