.v-list {
  & {
    position: relative;
    max-width: 300px;
    min-width: 300px;
    height: 444px;
    transition: box-shadow .1s ease-in-out;
    background: #fff;
    color: #666;
    margin: 1em;
    padding: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
  }
  &:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }
  .header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    .image {
      flex: 0 0 auto;
    }
    .info {
      flex: 1 1 auto;
      padding-left: 15px;
    }
    .name {
      color: #222;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;
    }
  }
  .cards {
    // display: flex;
    padding: 30px 30px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e5e5e5;
    padding: 15px 30px;
  }
  .quickAddTask {
    min-height: 44px;
    max-height: 200px;
    width: 100%;
    resize: none; // background: 0 0;
    overflow-y: hidden;
    word-wrap: break-word;
  }
}
