<div class="v-list">
  <div class="header">
    <figure class="image">
      <a class="g-avatar "href="#">
        <img class="img" width="100" height="100" src="{{list.photoUrl}}">
      </a>
    </figure>
    <div class="g-noWrapWithEllipsis info">
      <h3 class="g-noWrapWithEllipsis name">{{list.displayName}}</h3>
      <div class="g-metaTitle">
        <time datetime="2016-04-01T19:00">April 01, 2016</time>
      </div>
    </div>
  </div>
  <div class="cards">
    <app-card *ngFor="let task of list.tasks" [task]="task"></app-card>
  </div>
  <div class="footer">
    <textarea *ngIf="isTextareaOpen" [(ngModel)]="taskContent" [class.open]="isTextareaOpen" resize class="quickAddTask"></textarea>
    <button type="button" (click)="onAddTask()" class="g-btn g-btn-text">Add Task</button>
  </div>
</div>
