<div class="hv-list">
  <div class="header">
    <img class="image" width="100" height="100" src="{{list.imageUrl}}">
    <div class="info">
      <h3 class="name">{{list.name}}</h3>
      <div class="metaTitle">
        <time datetime="2016-04-01T19:00">April 01, 2016</time>
      </div>
    </div>
  </div>
  <div class="cards">
    <app-card *ngFor="let task of list.tasks" [task]="task"></app-card>
  </div>
  <div class="footer">
    <a href="#" class="hv-btn hv-btn-text">Add Task</a>
  </div>
</div>
